<img class="max-h-24" src="/assets/images/logo_v2_no_text.svg" alt="Payday protection logo">
<div>
  <h2 class="font-bold tracking-widest text-4xl text-center md:text-left">Payday Protection</h2>
</div>
