{% for item in collections.sections %}
  {% if item.data.type === 'register' %}
    <div id="register" class="rounded-lg flex flex-col justify-center items-center backdrop-invert bg-stone-800 px-5 md:px-20">
      <div class="self-center text-center w-full">
        <h2 class="font-bold tracking-widest text-gray-200 text-4xl mb-4">{{ item.data.title }}</h2>
        <div class="font-light text-stone-100 text-3xl">
          {{ item.templateContent | safe }}
        </div>

        <form class="w-full flex flex-col mt-10 mb-10" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="name">
         <div class="w-full flex flex-row">
          <div hidden aria-hidden="true">
            <label>
              Don’t fill this out if you're human: 
              <input name="name" />
            </label>
          </div>
          <div class="mx-auto">
            <input class="py-2 px-4" type="email" name="email" placeholder="Email" id="email" required />
            <button class="bg-purple-600 text-gray-200 py-2 px-4" type="submit">Subscribe</button>
          </div>
         </div>

         <div class="flex flex-col mx-auto">
          <label class="block text-gray-200 text-left px-2 mt-4" for="gdpr_37169">
            <input class="leading-tight" type="checkbox" id="gdpr_37169" name="gdpr[37169]" value="Y" require>
            <span class="text-md font-light">
              I agree with the <a href="/privacy/" class="underline hover:no-underline hover:text-purple-600"
itle="Pr  ivacy policy" target="_blank">Privacy Policy</a>
            </span>
          </label>
         </div>
        </form>


      </div>
    </div>
  {% endif %}
{% endfor %}

<script name="javascript">
    const processForm = form => {
      const data = new FormData(form)
      data.append('form-name', 'newsletter');
      fetch('/', {
        method: 'POST',
        body: data,
      })
      .then(() => {
        form.innerHTML = `<div class="form--success">Almost there! Check your inbox for a confirmation e-mail.</div>`;
      })
      .catch(error => {
        form.innerHTML = `<div class="form--error">Error: ${error}</div>`;
      })
    }
    const emailForm = document.querySelector('.email-form')
    if (emailForm) {
      emailForm.addEventListener('submit', e => {
        e.preventDefault();
        processForm(emailForm);
      })
    }
</script>
