<div class="basis-1/2 pb-12">
  <h2 class="font-bold tracking-widest text-4xl">What we offer</h2>
  {% for section in collections.offer %}
    <div class="text-lg">{{ section.templateContent | safe }}</div>
  {% endfor %}
</div>
