<div class="py-12 self-center flex flex-col items-center md:flex-row md:gap-8">
  <img class="max-h-60" src="/assets/images/logo.svg" alt="Payday protection logo">
  <div>
    <h2 class="font-bold tracking-widest text-4xl text-center md:text-left">Payday Protection</h2>
    {% for section in collections.slogan %}
      <div class="text-lg text-center md:text-left">{{ section.templateContent | safe }}</div>
    {% endfor %}
  </div>
</div>
