{% extends "_section.njk" %}

{% block section %}
  {% for section in collections.pricing_info %}
    <h2 class="font-bold tracking-widest text-4xl pb-4 text-blue-900">{{ section.data.title }}</h2>
    {{ section.templateContent | safe }}
  {% endfor %}
  <div class="pt-5 flex flex-col flex-stretch gap-5 w-full md:flex-row">
  {% for section in collections.pricing | sortBy('payment') %}
    <div class="flex flex-col py-8 px-4 rounded shadow-lg">
      <h1 class="pb-4">
        <span class="text-blue-900 text-5xl">{{ section.data.payment }}</span> / month
      </h1>
      <div class="ml-4 [&>ul]:list-disc [&>ul>li>strong]:text-xl">
        {{ section.templateContent | safe }}
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
