<div class="py-12 self-center flex flex-col items-center md:flex-row md:gap-8">
  <img class="max-h-60" src="/assets/images/PaydayProtection.svg" alt="Payday protection logo">
  
</div>

<iframe class="mx-auto mb-4 shadow-xl" width="383" height="400" src="https://www.youtube-nocookie.com/embed/HxNtzigST0w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
