<!DOCTYPE html>
<html lang="en" class="min-h-screen bg-gradient-to-b from-cyan-700 to-blue-800">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    <title>{% if title %}{{ title }} | {% endif %}Payday Protection</title>
  </head>
  <body>
    <main class="mx-auto flex flex-col max-w-screen-lg p-10 lg:shadow-lg lg:shadow-blue-900 lg:rounded bg-blue-200 lg:my-10 md:px-20">
      {{ content | safe }}
    </main>
  </body>
</html>
