<!DOCTYPE html>
<html lang="en" class="w-full min-h-screen bg-fixed bg-center bg-cover" style="background-image: url('{{ background | url }}')">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    <title>{% if title %}{{ title }} | {% endif %}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-99QWQRS2BC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-99QWQRS2BC');
    </script>
  </head>
  <body class="flex flex-col min-h-screen items-center align-center place-content-center">

    <a href="{{ "/" | url }}">
      <img class="mx-auto max-h-80" src="/assets/images/PaydayProtection.svg" alt="Payday protection logo">
    </a>
    <div class="backdrop-blur-sm bg-grey/80 rounded p-5 md:p-10 mt-5 md:mt-10 text-center">
      <div class="text-3xl text-center">
        {{ content | safe }}
      </div>

      <form class="flex flex-col mt-10 items-center"
            id="newsletter"
            name="newsletter"
            method="POST"
            data-netlify="true"
            netlify-honeypot="name">
        <div hidden aria-hidden="true">
          <label>
            Don’t fill this out if you're human: 
            <input name="name" />
          </label>
        </div>
        <div class="flex flex-col md:flex-row gap-4 mb-2 text-xl">
          <input class="py-2 px-4 w-60 text-black"
                 type="email"
                 name="email"
                 placeholder="{{ placeholder }}"
                 id="email"
                 required />
          <button class="py-2 px-4 bg-blue-700 text-stone-100" type="submit">{{ button }}</button>
        </div>

        <div>
         <label for="gdpr">
           <input type="checkbox" id="gdpr" name="gdpr" value="Y" required />
           <span class="text-md font-light">
             I agree with the
             <a href="/privacy/"
                class="underline hover:no-underline hover:text-purple-600"
                target="_blank">Privacy Policy</a>
           </span>
         </label>
        </div>
      </form>

    </div>

  <a class="text-2xl font-thin rounded-full bg-black text-white px-5 py-2 my-2" href="{{ "/" | url }}">{{ learn_more | safe }}</a>

  <script type="text/javascript">
      const processForm = form => {
        const data = new FormData(form)
        data.append('form-name', 'newsletter');
        fetch('/', {
          method: 'POST',
          body: data,
        })
        .then(() => {
          form.innerHTML = `{{ confirmation }}`;
        })
        .catch(error => {
          form.innerHTML = `Error: ${error}`;
        })
      }

      const emailForm = document.querySelector('#newsletter')
      emailForm.addEventListener('submit', e => {
        e.preventDefault();
        processForm(emailForm);
      })
  </script>

  </body>
</html>
