---
layout: landing.njk
isFront: true
tags: landing
---

<header class="header w-full min-h-screen flex flex-col justify-between">
  {% include "section.header.njk" %}
</header>
<main>
  {% include "section.offer.njk" %}
  {% include "section.mission.njk" %}
  {% include "section.register.njk" %}
</main>
