---
layout: base.njk
isFront: true
tags: landing
---

{% include "section.header.njk" %}
<div class="md:flex md:flex-row md:justify-evenly md:gap-8 items-start">
{% include "section.offer.njk" %}
{% include "section.mission.njk" %}
</div>
{% include "section.register.njk" %}
